  <div class="panel-body">

<div class="container">
    	<table id="cart" class="table table-hover table-condensed">
        				<thead>
    						<tr>
    							<th style="width:50%">Product - Reference</th>
    							<th style="width:10%">Price</th>
    							<th style="width:8%">Quantity</th>
    							<th style="width:22%" class="text-center">Subtotal</th>
    							<th style="width:10%"></th>
    						</tr>
    					</thead>

               


    					<tfoot>
    						<tr class="visible-xs">
    							<td class="text-center"><strong>Total  </strong></td>
    						</tr>
    						<tr>
    							<td><a href="#/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
    							<td colspan="2" class="hidden-xs"></td>
    							<td class="hidden-xs text-center"><strong>Total {{total}}</strong></td>
    							<td><a class="btn btn-success btn-block" ng-click="checkoutCart()">Checkout <i class="fa fa-angle-right"></i></a></td>
    						</tr>
    					</tfoot>
    				</table>
    </div>

    </div>